body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formsContainer {
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: 100%;
  gap: 10px;
  padding: 20px;
}

.inputForms p,
.form-select {
  margin-bottom: 5px;
  margin-right: 5px;
  max-width: 50%;
}

.part1,
.part2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.card {
  width: 80%;
  margin-bottom: 20px;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.inputForms,
.selectForms {
  margin-bottom: 15px;
  
}

.form-control,
.form-select {
  max-width: 70%;
}

.sliderAndInput {
  display: flex;
  align-items: center;
}

.sliderAndInput input[type="range"] {
  margin-right: 15px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Media Query for screens smaller than or equal to 768px */
@media screen and (max-width: 768px) {
  .formsContainer {
    grid-template-columns: 1fr;
  }
    
}